<h1> Answer </h1>

<div class="container">
  <div class="message">
    <h3>You</h3>
    <p><%= @question %></p>
  </div>

  <div class="message">
    <h3>Your coach</h3>
    <p><%= @answer %></p>
  </div>


</div>
