/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$gray: #F4F4F4;

body {
    background-color: $gray;
}

h1 {
  text-align: center;
}
p {
  text-align: center;
}
.container {
  width: 400px;
  margin: 0 auto;
  display: flex;
}

.message {
  margin: 24px auto;
  border-radius: 5px;
  background-color: white;
  padding: 2px 16px 2px 16px;
}

.message h3 {
  margin-bottom: 0;
  font-size: 16px;
}

.message p {
  margin-top: 0;
}

.form-inline {
  margin: 0 auto;

  input {
    width: 200px;
    padding-left: 8px;
    border-radius: 8px 0px 0px 8px;
    height: 30px;
    box-shadow: 1px 1px 3px $gray;
    border-right: none;
  }
  button {
    border-radius: 0px 8px 8px 0px;
    color: white;
    font-weight: 500;
    background-color: #009FB7;
    border: none;
    height: 30px;
    border-left: none;
  }
}

a {
  color: grey;
  &:hover {
    color: black;
  }
}
